{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
<section id="activities" class="wide content-section">
        <div class="row--title inner">
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        </div>

        <div class="small">{% include "article_infos.html" %}</div>

        <div class="row row--margin row--image-text left inner">
                <div class="col col-full">
                        <p>{{ article.summary }}</p>
                </div>
        </div>

        <div class="row--links inner">
                <ul class="links">
                        <li>
                                <a href="{{ SITEURL }}/{{ article.url }}"
                                        class="button button--medium button-link internal none">Read more <span
                                                class="arrow"><svg viewBox="0 0 21 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" role="img"
                                                        aria-hidden="true">
                                                        <path d="M9.19238 1.4436L18.3848 10.636L9.19238 19.8284"
                                                                stroke="#189BB9" stroke-width="3"></path>
                                                </svg>
                                        </span></a>
                        </li>

                </ul>
        </div>

</section>
{% endfor %}
{% endif %}

{% if articles_page and articles_paginator.num_pages > 1 %}
<div class="pagination">
        <ul>
                {% if articles_page.has_previous() %}
                {% set num = articles_page.previous_page_number() %}
                <li class="prev"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">&larr;
                                Previous</a></li>
                {% else %}
                <li class="prev disabled"><a href="#">&larr; Previous</a></li>
                {% endif %}
                {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
                <li class="{{ 'active' if num == articles_page.number else '' }}"><a
                                href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
                {% endfor %}
                {% if articles_page.has_next() %}
                <li class="next"><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Next
                                &rarr;</a></li>
                {% else %}
                <li class="next disabled"><a href="#">&rarr; Next</a></li>
                {% endif %}
        </ul>
</div>

{% endif %}
{% endblock content %}
