<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="{{ AUTHOR }}">

  <!-- Le styles -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/site.css?v=0.3" type="text/css" />
  <style type="text/css">
    body {}

    .sidebar-nav {
      padding: 9px 0;
    }

    .tag-1 {
      font-size: 13pt;
    }

    .tag-2 {
      font-size: 10pt;
    }

    .tag-2 {
      font-size: 8pt;
    }

    .tag-4 {
      font-size: 6pt;
    }
  </style>
  <link href="{{ SITEURL }}/theme/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/font-awesome.css" rel="stylesheet">

  <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico">
  <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/theme/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/theme/images/apple-touch-icon-114x114.png">

  <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
  {% if FEED_RSS %}
  <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate"
    title="{{ SITENAME }} RSS Feed" />
  {% endif %}

</head>

<body style="min-height: 100vh; display: flex; flex-direction: column;">

  <header id="main-header" class="closed headroom headroom--top headroom--not-bottom">
    <div class="site-name">
      <a href="{{ SITEURL }}" class="logo" aria-label="Homepage">
        <div class="logo-color">
          <div style="color: #159cbc; font-size: 48px; line-height: 41px;">REScode</div>
        </div>
        <div class="logo-white">
          <div style="color: #ffffff; font-size: 48px; line-height: 41px;">REScode</div>
        </div>
      </a>
    </div>
    <div class="main-header-bottom">
      <nav class="main-nav menu" aria-label="Main">
        <button id="menu-button" class="menu-button icon" aria-expanded="false" aria-controls="menu-items">
          <div class="nav-icon">
            <div></div>
          </div>menu
        </button>
        <ul id="menu-items">
          {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}" class="menu-item">{{ title }}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages %}
          <li><a href="{{ SITEURL }}/{{ page.url }}" class="menu-item">{{ page.title }}</a></li>
          {% endfor %}
          {% endif %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
          <li {% if cat==category %}class="active" {% endif %}>
            <a href="{{ SITEURL }}/{{ cat.url }}" class="menu-item">
              {{ cat }}
            </a>
          </li>
          {% endfor %}
          {% endif %}

          <!--
          <li><a href="{{ SITEURL }}/archives.html" class="menu-item">Archives</a></li>
          -->
        </ul>
      </nav>
    </div>
  </header>


  <div class="container-fluid" style="padding-top: 1rem;">
    <div class="row">
      <div class="span12" id="content" style="margin-bottom: auto;">
        {% block content %}
        {% endblock %}
      </div><!--/span-->
      <!--
      <div class="span3 well sidebar-nav" id="sidebar" style="margin-bottom: auto;">
        {% include 'sidebar.html' %}
      </div>/.well -->

    </div><!--/row-->

  </div><!--/.fluid-container-->

  <div style="margin-top: auto;">

    <footer id="main-footer">
      <div class="footer-top row row--margin">
        <div class="col col-12" style="width: 100%; background-color: #086EA0; color: white">

        </div>
      </div>
    </footer>

  </div><!--/.fluid-container-->


  {% include 'analytics.html' %}
  {% include 'piwik.html' %}
  {% include 'disqus_script.html' %}

  <!-- Le javascript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ SITEURL }}/theme/js/jquery-1.7.2.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/site.js"></script>
</body>

</html>